*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.7;
  font-size: 1.8rem; }

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem;
  background: transparent;
  height: 11.2rem; }
  .header__logo--container {
    display: flex;
    align-items: center; }
  .header__logo--container {
    justify-content: flex-start;
    flex-grow: 1; }
  .header__logo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 3rem; }
  .header__nav {
    flex-grow: 2; }
  .header__nav--items {
    list-style: none;
    display: flex;
    justify-content: space-around; }
  .header__nav--item {
    position: relative;
    z-index: 2; }
  .header__nav--link::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: #0274be;
    transition: all 0.3s; }
  .header__nav--link:link, .header__nav--link:visited {
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    z-index: 3; }
  .header__nav--link:hover .header__nav--link::before {
    width: 100%;
    background-color: turquoise; }
