.section__header {
  max-width: 70%;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;

  &--h2 {
    margin-bottom: 1.5rem;
  }
  &--p {
    font-weight: 500;
  }

  @include respond(phone) {
    max-width: 90%;
    margin: 1rem auto;
    padding: 0;

    margin-bottom: 4rem;
  }
}
