*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tablet-lan) {
    & {
      font-size: 60%;
    }
  }

  @include respond(tablet-port) {
    font-size: 58%;
  }

  @include respond(phone) {
    font-size: 54%;
  }
}

.section {
  padding: 8rem 0;
}
