body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
}

.heading--primary {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.19;
  color: $color-shade;
}

.heading--secondary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: $color-shade;
  text-transform: uppercase;
}

.heading--tertiary {
  font-size: 1.9rem;
  font-weight: 700;
  color: $color-shade;
}
